Repository opensciencearchive/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, unit-tests, web-lint

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Ruff - linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  # Local hooks for ty and tests (no official pre-commit hooks yet)
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: env -u VIRTUAL_ENV uv run --directory server ty check osa
        language: system
        types: [python]
        pass_filenames: false

      - id: unit-tests
        name: unit tests
        entry: env -u VIRTUAL_ENV uv run --directory server pytest tests/unit -q --tb=short
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: web-lint
        name: web lint
        entry: pnpm --dir web lint
        language: system
        files: ^web/
        types_or: [javascript, jsx, ts, tsx, css]
        pass_filenames: false

fix: require JWT secret with minimum length validation
  server/.env.example
  server/osa/application/api/rest/app.py
  server/osa/application/api/v1/routes/auth.py
  server/osa/application/di.py
  server/osa/cli/util/daemon.py
  server/osa/config.py
  server/tests/conftest.py
  server/tests/unit/domain/auth/test_token_service.py
Due: ty-check, unit-tests

fix: wrap useSearchParams in Suspense boundary for static build
  .pre-commit-config.yaml
  web/src/app/auth/callback/page.tsx
Due: web-lint

refactor: replace FastAPI Depends with Dishka DI for CurrentUser
  server/osa/application/api/v1/routes/auth.py
  server/osa/domain/auth/deps.py
  server/osa/domain/auth/model/value.py
  server/osa/domain/auth/util/di/provider.py
  web/src/lib/sdk/auth.ts
Due: ty-check, unit-tests, web-lint

refactor: move OAuth state signing logic to TokenService
  server/osa/application/api/v1/routes/auth.py
  server/osa/domain/auth/service/token.py
  server/tests/unit/application/api/v1/routes/test_auth_state.py
Due: ty-check, unit-tests

feat: wire up auth CommandHandlers and emit domain events
  server/osa/application/api/v1/routes/auth.py
  server/osa/domain/auth/command/__init__.py
  server/osa/domain/auth/command/login.py
  server/osa/domain/auth/command/token.py
  server/osa/domain/auth/service/auth.py
  server/osa/domain/auth/util/di/provider.py
  server/tests/unit/domain/auth/test_command_handlers.py
Due: ty-check, unit-tests

refactor: generalize identity provider abstraction
  server/osa/application/api/v1/routes/auth.py
  server/osa/domain/auth/command/login.py
  server/osa/domain/auth/event/events.py
  server/osa/domain/auth/model/value.py
  server/osa/domain/auth/port/provider_registry.py
  server/osa/domain/auth/service/auth.py
  server/osa/domain/auth/service/token.py
  server/osa/domain/auth/util/di/provider.py
  server/osa/infrastructure/auth/di.py
  server/osa/infrastructure/auth/provider_registry.py
  server/tests/unit/application/api/v1/routes/test_auth_state.py
  server/tests/unit/domain/auth/test_command_handlers.py
  server/tests/unit/domain/auth/test_token_service.py
Due: ty-check, unit-tests

fix: use `external_id` in frontend sdk
  web/src/lib/sdk/auth.ts
Due: web-lint

fix: use `external_id` instead of `orcid_id`
  web/src/lib/sdk/auth.ts
Due: web-lint

fix: use `external_id` instead of `orcid_id`
  web/src/lib/sdk/types.ts
Due: web-lint

fix: send `provider` from frontend to backend
  web/src/lib/sdk/auth.ts
Due: web-lint

refactor: rename orcidId to externalId across user-related components
  web/src/components/auth/UserMenu.tsx
  web/src/lib/sdk/auth.ts
  web/src/lib/sdk/client.ts
  web/src/lib/sdk/types.ts
Due: web-lint

fix: prevent race condition in refresh token rotation
  server/osa/domain/auth/port/repository.py
  server/osa/domain/auth/service/auth.py
  server/osa/infrastructure/persistence/repository/auth.py
Due: ty-check, unit-tests

test: close authorization test coverage gaps (#55)
  server/tests/unit/domain/auth/test_auth_provider.py
  server/tests/unit/domain/auth/test_handler_configs.py
  server/tests/unit/domain/shared/authorization/test_auth_gate.py
  server/tests/unit/domain/shared/authorization/test_decorators.py
  server/tests/unit/domain/shared/authorization/test_error_codes.py
  server/tests/unit/domain/shared/authorization/test_role_hierarchy.py
Due: ty-check, unit-tests

fix: prevent path traversal and header injection vulnerabilities
  server/migrations/versions/add_deposition_tables.py
  server/osa/application/api/v1/routes/conventions.py
  server/osa/application/api/v1/routes/depositions.py
  server/osa/infrastructure/persistence/adapter/storage.py
  server/tests/unit/application/api/v1/routes/test_header_sanitization.py
  server/tests/unit/infrastructure/persistence/adapter/test_file_storage.py
Due: ty-check, unit-tests

fix: rejection key name
  sdk/py/osa/runtime/entrypoint.py
Due: ty-check, unit-tests

fix: address 4 bugs from PR #66 code review
  sdk/py/osa/cli/main.py
  sdk/py/tests/test_cli.py
  sdk/py/tests/test_entrypoint_new.py
  server/osa/domain/shared/outbox.py
  server/osa/domain/shared/port/event_repository.py
  server/osa/domain/source/handler/trigger_initial_source_run.py
  server/osa/domain/source/port/source_runner.py
  server/osa/domain/source/schedule/source_schedule.py
  server/osa/domain/source/service/source.py
  server/osa/domain/validation/port/hook_runner.py
  server/osa/domain/validation/service/validation.py
  server/osa/infrastructure/oci/runner.py
  server/osa/infrastructure/oci/source_runner.py
  server/osa/infrastructure/persistence/adapter/storage.py
  server/osa/infrastructure/persistence/repository/event.py
  server/tests/unit/domain/source/test_trigger_initial_source_run.py
  server/tests/unit/infrastructure/test_file_storage_hooks.py
  server/tests/unit/infrastructure/test_oci_hook_runner.py
Due: ty-check, unit-tests

fix: address code review bugs and refactor handler/service layering
  sdk/py/osa/cli/deploy.py
  sdk/py/pyproject.toml
  server/osa/application/api/v1/routes/validation.py
  server/osa/domain/deposition/port/convention_repository.py
  server/osa/domain/deposition/port/storage.py
  server/osa/domain/deposition/service/convention.py
  server/osa/domain/feature/handler/insert_record_features.py
  server/osa/domain/feature/model/feature.py
  server/osa/domain/feature/service/feature.py
  server/osa/domain/source/handler/trigger_initial_source_run.py
  server/osa/domain/source/service/source.py
  server/osa/domain/validation/handler/validate_deposition.py
  server/osa/domain/validation/model/entity.py
  server/osa/domain/validation/model/value.py
  server/osa/domain/validation/service/validation.py
  server/osa/infrastructure/oci/runner.py
  server/osa/infrastructure/oci/source_runner.py
  server/osa/infrastructure/persistence/adapter/storage.py
  server/osa/infrastructure/persistence/feature_store.py
  server/osa/infrastructure/persistence/repository/convention.py
  server/tests/unit/domain/deposition/test_event_chain.py
  server/tests/unit/domain/feature/test_insert_record_features.py
  server/tests/unit/domain/source/test_source_service.py
  server/tests/unit/domain/source/test_trigger_initial_source_run.py
  server/tests/unit/domain/validation/test_validation_service.py
  server/tests/unit/infrastructure/persistence/adapter/test_file_storage.py
  server/tests/unit/infrastructure/test_postgres_feature_store.py
Due: ty-check, unit-tests

feat: add PgIdentifier type for secure hook and column names
  server/osa/domain/shared/model/hook.py
  server/tests/unit/domain/shared/test_hook_models.py
Due: ty-check, unit-tests

refactor: clean up event system — Delivery envelope, remove routing_key, deduplicate hook snapshots
  server/osa/domain/deposition/service/convention.py
  server/osa/domain/deposition/service/deposition.py
  server/osa/domain/index/handler/fanout_to_index_backends.py
  server/osa/domain/index/handler/keyword_index_handler.py
  server/osa/domain/index/handler/vector_index_handler.py
  server/osa/domain/shared/event.py
  server/osa/domain/shared/model/hook_snapshot.py
  server/osa/domain/shared/outbox.py
  server/osa/domain/shared/port/event_repository.py
  server/osa/infrastructure/event/worker.py
  server/osa/infrastructure/persistence/repository/event.py
  server/tests/integration/event/test_claim.py
  server/tests/integration/event/test_concurrent_workers.py
  server/tests/integration/persistence/test_event_repo.py
  server/tests/integration/test_event_batch_processing.py
  server/tests/unit/domain/index/test_fanout_listener.py
  server/tests/unit/domain/shared/test_claim_result.py
  server/tests/unit/domain/shared/test_event.py
  server/tests/unit/domain/shared/test_hook_snapshot.py
  server/tests/unit/domain/shared/test_outbox_claim.py
  server/tests/unit/domain/shared/test_outbox_consumer_groups.py
  server/tests/unit/domain/shared/test_outbox_routing.py
  server/tests/unit/domain/shared/test_worker_config.py
  server/tests/unit/infrastructure/event/test_worker.py
  server/tests/unit/infrastructure/event/test_worker_batching.py
  server/tests/unit/infrastructure/event/test_worker_pool.py
Due: ty-check, unit-tests

refactor: remove routing_key column from events table migrations
  server/migrations/versions/add_worker_columns.py
  server/migrations/versions/consumer_group_delivery.py
Due: ty-check, unit-tests

refactor: replace hook model with RuntimeConfig/FeatureSpec discriminated unions
  sdk/py/osa/cli/deploy.py
  sdk/py/osa/manifest.py
  server/osa/domain/curation/event/deposition_approved.py
  server/osa/domain/deposition/event/convention_registered.py
  server/osa/domain/deposition/event/submitted.py
  server/osa/domain/deposition/service/convention.py
  server/osa/domain/deposition/service/deposition.py
  server/osa/domain/feature/handler/create_feature_tables.py
  server/osa/domain/feature/model/feature.py
  server/osa/domain/feature/service/feature.py
  server/osa/domain/record/event/record_published.py
  server/osa/domain/record/service/record.py
  server/osa/domain/shared/model/__init__.py
  server/osa/domain/shared/model/hook.py
  server/osa/domain/shared/model/hook_snapshot.py
  server/osa/domain/validation/event/validation_completed.py
  server/osa/domain/validation/service/validation.py
  server/osa/infrastructure/oci/runner.py
  server/tests/integration/persistence/test_convention_repo.py
  server/tests/integration/persistence/test_feature_store.py
  server/tests/unit/domain/deposition/test_convention_registered.py
  server/tests/unit/domain/deposition/test_convention_service.py
  server/tests/unit/domain/deposition/test_convention_service_v2.py
  server/tests/unit/domain/deposition/test_deposition_submitted_enriched.py
  server/tests/unit/domain/deposition/test_event_chain.py
  server/tests/unit/domain/feature/test_create_feature_tables.py
  server/tests/unit/domain/feature/test_feature_service_decoupled.py
  server/tests/unit/domain/feature/test_insert_record_features.py
  server/tests/unit/domain/record/test_record_published_enriched.py
  server/tests/unit/domain/shared/test_hook_models.py
  server/tests/unit/domain/shared/test_hook_snapshot.py
  server/tests/unit/domain/validation/test_hook_runner.py
  server/tests/unit/domain/validation/test_validation_service.py
  server/tests/unit/domain/validation/test_validation_service_decoupled.py
  server/tests/unit/infrastructure/test_feature_queries.py
  server/tests/unit/infrastructure/test_oci_hook_runner.py
Due: ty-check, unit-tests

refactor: remove backwards-compatibility aliases from SDK
  sdk/py/osa/cli/deploy.py
  sdk/py/osa/manifest.py
  sdk/py/tests/test_cli.py
  sdk/py/tests/test_deploy.py
  sdk/py/tests/test_deploy_v2.py
  sdk/py/tests/test_new_manifest.py
Due: ty-check, unit-tests

build: update uv.lock
  sdk/py/uv.lock
Due: none

fix: update ClaimResult mock to use deliveries instead of events
  server/tests/contract/test_worker_lifecycle.py
Due: ty-check, unit-tests

feat(ci): add SDK testing and server contract/integration tests
  .github/workflows/ci.yml
Due: none
